<div id="edit">

    <h1>Edit Toy</h1>

    <%= form_with model: @toy, local: true do |form| %>

        <div>
            <%= form.label :name %>
            <%= form.text_field :name %>
        </div>

        <div>
            <%= form.label :description %>
            <%= form.text_area :description %>
        </div>

        <div>
            <%= form.label :posted %>
            <%= form.date_field :posted %>
        </div>

        <div>
            <%= form.label :user_id %>
            <%= form.select(:user_id, options_for_select(@options, @toy.user_id))%>
        </div>

        <div>
            <%= form.submit :Update %>
        </div>

        <%= link_to("Back", toys_path, class: "standard-button") %>

    <% end %>

</div>