<div id="show">

    <h1>Show User Details</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th class="link-column"></th>
                <th class="link-column"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><%= @user["id"] %></td>
                <td><%= @user["email"] %></td>
                <td><%= @user["password"] %></td>
                <td><%= link_to("Edit", edit_user_path(@user["id"])) %></td>
                <td><%= link_to("Delete", user_path(@user["id"])) %></td>
            </tr>

        </tbody>

    </table>

    <%= link_to("Back", users_path, class: "standard-button") %>

</div>