<!DOCTYPE html>
<html>
  <head>
    <title>ToyStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="center">
      <%= link_to "Toys", toys_path, class: "standard-button" %>
      <%= link_to "Users", users_path, class: "standard-button" %>
      <%= link_to "Manufacturers", manufacturers_path, class: "standard-button" %>
      
    </div>

    <%= yield %>
  </body>
</html>
